<!DOCTYPE html>
<html>
    <head>
        <!-- TODO: inline -->
        <link rel="stylesheet" href="/css/pre.css">
        <title>{% if page.title %}{{ page.title }} | {% endif %}Tzukuri</title>
        <meta charset="utf-8">

        <meta name="Description" content="{{ page.description }}">
        <link rel="home" href="https://tzukuri.com/">

        <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="twitter:site" content="@tzukuri">

        <meta property="fb:app_id" content="311590038897709">
        <meta property="og:url" content="https://tzukuri.com{{ page_path }}">
        <meta property="og:description" content="Beautifully handmade glasses you won't lose.">
        <meta property="og:title" content="Unlosable Glasses">
        <meta property="og:image" content="http://tzukuri.com/og.png">
        <meta property="og:image:secure_url" content="https://tzukuri.com/og.png">

        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- shopify -->
        {{ content_for_header }}
        <link rel="stylesheet" href="/css/main.css">

        <!-- load jquery sync for now - we should remove dependencies on it -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="/js/all.min.js" asyc></script>

        <!-- segment loads async as it adds a script tag to the page manually -->
        <script>
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
          analytics.load("Jv4yTIYvZ7X6SDJY87r6C5dOUZiKyihQ");
          analytics.page();
          }}();
        </script>
    </head>

    <body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' }}" {% if sticky_header %}sticky-header{% endif %}>
        <header class="{% if sticky_header %}sticky{% endif %}">
            <div>
                <a id="logo" href="/">tzukuri</a>
                <nav>
                    {% for link in nav %}
                        <a href="{{ link.url }}" class="{% if page_path == link.url %}selected{% endif %}">{{ link.title }}</a>
                    {% endfor %}
                    <a href="/buy" class="button tz-track" id="try-btn" data-category="nav" data-event="buy-now-click">buy now</a>
                </nav>
                <a id="hamburger" class="fa fa-bars"></a>
            </div>
        </header>


        <!-- for shopify -->
        {{ content_for_layout }}

        <!-- for local dev -->
        {% block page %}{% endblock %}

        <footer>
        </footer>
    </body>
</html>
